:root {
  --color-dark-black: black;
}

// TYPES

.grass {
  background: linear-gradient(90deg, rgb(7, 88, 2) 0%, rgb(92, 219, 118) 100%);
}
.poison {
  background: linear-gradient(90deg, rgb(96, 3, 82) 0%, rgb(240, 88, 217) 100%);
}
.psychic {
  background-color: rgb(201, 83, 169);
  background: linear-gradient(90deg, rgb(80, 8, 92) 0%, rgb(156, 26, 180) 100%);
}
.fire {
  background: linear-gradient(90deg, rgb(140, 0, 0) 0%, rgb(249, 145, 18) 100%);
}
.water {
  background: linear-gradient(
    90deg,
    rgb(14, 11, 110) 0%,
    rgb(49, 128, 181) 100%
  );
}
.fighting {
  background: linear-gradient(
    90deg,
    rgb(165, 42, 42) 0%,
    rgb(205, 85, 85) 100%
  );
}
.ground {
  background: linear-gradient(
    90deg,
    rgb(173, 90, 17) 0%,
    rgb(244, 164, 96) 100%
  );
}
.dark {
  background: linear-gradient(90deg, rgb(55, 55, 55) 0%, rgb(0, 0, 0) 100%);
}
.ghost {
  background: linear-gradient(90deg, rgb(30, 10, 66) 0%, rgb(56, 29, 107) 100%);
}
.steel {
  background: linear-gradient(
    90deg,
    rgb(91, 91, 91) 0%,
    rgb(167, 167, 167) 100%
  );
}
.fairy {
  background: linear-gradient(
    90deg,
    rgb(251, 41, 255) 0%,
    rgb(232, 162, 233) 100%
  );
}
.dragon {
  background: linear-gradient(
    90deg,
    rgb(74, 43, 155) 0%,
    rgb(113, 79, 198) 100%
  );
}

.rock {
  background: linear-gradient(
    90deg,
    rgb(161, 108, 71) 0%,
    rgb(228, 184, 152) 100%
  );
  color: var(--color-dark-black);
}
.bug {
  background: linear-gradient(
    90deg,
    rgb(75, 120, 12) 0%,
    rgb(142, 210, 47) 100%
  );
  color: var(--color-dark-black);
}

.flying {
  background: linear-gradient(
    90deg,
    rgb(100, 199, 232) 0%,
    rgb(173, 216, 230) 100%
  );
  color: var(--color-dark-black);
}
.ice {
  background: linear-gradient(
    90deg,
    rgb(5, 147, 157) 0%,
    rgb(15, 217, 232) 100%
  );
  color: var(--color-dark-black);
}
.electric {
  background: linear-gradient(
    90deg,
    rgb(245, 189, 5) 0%,
    rgb(255, 255, 0) 100%
  );
  color: var(--color-dark-black);
}
.normal {
  background: linear-gradient(
    90deg,
    rgb(196, 196, 196) 0%,
    rgb(255, 255, 255) 100%
  );
  color: var(--color-dark-black);
}
